In [30]:
import numpy as nm                            #Importing required libraries.
import matplotlib.pyplot as mtp    
import pandas as pd 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans  
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import pickle

In [31]:
data_set= pd.read_csv('Dataset.csv')     #Importing Dataset.csv file.
data_set

,Person_no.,age,weight(kg),height(m),gender,BMI,BMR,activity_level,calories_to_maintain_weight,BMI_tags
0,1,2,16.097862,0.932025,F,18.531612,958.584,1.2,1150.3008,8
1,2,4,14.619374,0.916687,F,17.397496,932.383,1.7,1585.0511,7
2,4,4,17.899918,0.997288,F,17.997414,977.578,1.9,1857.3982,7
3,6,3,13.532880,1.022786,F,12.936609,944.689,1.9,1794.9091,7
4,8,4,17.039484,1.053977,M,15.338909,799.229,1.9,1518.5351,7
...,...,...,...,...,...,...,...,...,...,...
10721,23986,72,95.444236,1.631113,F,35.874169,1510.154,1.3,1963.2002,9
10722,23988,85,97.976899,1.631409,F,36.812724,1473.418,1.7,2504.8106,9
10723,23994,50,97.761259,1.631864,F,36.711217,1635.925,1.7,2781.0725,9
10724,23997,57,96.829324,1.631290,F,36.386871,1593.981,1.3,2072.1753,9
10725,23998,63,97.615186,1.633168,M,36.597850,1791.512,1.2,2149.8144,9

In [32]:
x = data_set
onehot_encoder = OneHotEncoder()      #Encoding the categorical variable BMI_tag
ct = ColumnTransformer([("BMI_tags", OneHotEncoder(), [9])], remainder = 'passthrough')
data_set = ct.fit_transform(data_set)
data_set = pd.DataFrame(data_set)
data_set.rename(columns = {0:'BMI_tag(7)', 1:'BMI_tag(8)', 2:'BMI_tag(9)', 3:'Person_no.', 4: 'Age', 5:'weight(kg)',
                              6:'height(m)',7:'gender', 8:'BMI', 9 :'BMR',
                             10:'activity_level',11:'calories_to_maintain_weight'}, inplace = True)
data_set

,BMI_tag(7),BMI_tag(8),BMI_tag(9),Person_no.,Age,weight(kg),height(m),gender,BMI,BMR,activity_level,calories_to_maintain_weight
0,0.0,1.0,0.0,1,2,16.097862,0.932025,F,18.531612,958.584,1.2,1150.3008
1,1.0,0.0,0.0,2,4,14.619374,0.916687,F,17.397496,932.383,1.7,1585.0511
2,1.0,0.0,0.0,4,4,17.899918,0.997288,F,17.997414,977.578,1.9,1857.3982
3,1.0,0.0,0.0,6,3,13.53288,1.022786,F,12.936609,944.689,1.9,1794.9091
4,1.0,0.0,0.0,8,4,17.039484,1.053977,M,15.338909,799.229,1.9,1518.5351
...,...,...,...,...,...,...,...,...,...,...,...,...
10721,0.0,0.0,1.0,23986,72,95.444236,1.631113,F,35.874169,1510.154,1.3,1963.2002
10722,0.0,0.0,1.0,23988,85,97.976899,1.631409,F,36.812724,1473.418,1.7,2504.8106
10723,0.0,0.0,1.0,23994,50,97.761259,1.631864,F,36.711217,1635.925,1.7,2781.0725
10724,0.0,0.0,1.0,23997,57,96.829324,1.63129,F,36.386871,1593.981,1.3,2072.1753
10725,0.0,0.0,1.0,23998,63,97.615186,1.633168,M,36.59785,1791.512,1.2,2149.8144

In [33]:
data_set.drop('Person_no.',                                 #Dropping the not required columns
axis='columns', inplace=True)
data_set.drop('gender',
axis='columns', inplace=True)
data_set.drop('Age',                                 #Dropping the not required columns
axis='columns', inplace=True)
data_set.drop('weight(kg)',
axis='columns', inplace=True)
data_set.drop('height(m)',                                 #Dropping the not required columns
axis='columns', inplace=True)
data_set.drop('BMR',
axis='columns', inplace=True)
data_set.drop('calories_to_maintain_weight',
axis='columns', inplace=True)
data_set
data_set

      BMI_tag(7) BMI_tag(8) BMI_tag(9)        BMI activity_level
0            0.0        1.0        0.0  18.531612            1.2
1            1.0        0.0        0.0  17.397496            1.7
2            1.0        0.0        0.0  17.997414            1.9
3            1.0        0.0        0.0  12.936609            1.9
4            1.0        0.0        0.0  15.338909            1.9
...          ...        ...        ...        ...            ...
10721        0.0        0.0        1.0  35.874169            1.3
10722        0.0        0.0        1.0  36.812724            1.7
10723        0.0        0.0        1.0  36.711217            1.7
10724        0.0        0.0        1.0  36.386871            1.3
10725        0.0        0.0        1.0   36.59785            1.2

[10726 rows x 5 columns]

In [34]:
data_set = nm.array(data_set)                                                #Feature Scaling
st_x= StandardScaler()  
data_set= st_x.fit_transform(data_set)  
data_set = nm.array(data_set)

In [35]:
no_of_clusters = range(2,20)                              #Inertia method to determine optimal no. of clusters
inertia = []
for f in no_of_clusters:
    kmeans = KMeans(n_clusters = f, random_state = 2)
    kmeans = kmeans.fit(data_set)
    u = kmeans.inertia_
    inertia.append(u)
    print("The inertia for:", f, "CLusters is:", u)

The inertia for: 2 CLusters is: 26588.706675376772
The inertia for: 3 CLusters is: 11156.133279377222
The inertia for: 4 CLusters is: 7755.488724598574
The inertia for: 5 CLusters is: 5378.554176430447
The inertia for: 6 CLusters is: 3856.9260818888597
The inertia for: 7 CLusters is: 3045.2406269953217
The inertia for: 8 CLusters is: 2576.5409210288663
The inertia for: 9 CLusters is: 2072.602760721216
The inertia for: 10 CLusters is: 1763.8084397491298
The inertia for: 11 CLusters is: 1480.0228804154226
The inertia for: 12 CLusters is: 1241.8933263842987
The inertia for: 13 CLusters is: 1039.7211043534967
The inertia for: 14 CLusters is: 859.3250879773457
The inertia for: 15 CLusters is: 761.0782020612036
The inertia for: 16 CLusters is: 685.6415048952582
The inertia for: 17 CLusters is: 637.741374249261
The inertia for: 18 CLusters is: 554.4693283246788
The inertia for: 19 CLusters is: 544.8545995992026

In [36]:
data_set
kmeans = KMeans(n_clusters = 5, random_state = 2).fit(data_set)       #Applying kmeans algo
predictions = kmeans.predict(data_set)
predictions

array([1, 2, 2, ..., 4, 0, 0])

In [37]:
pickle.dump(kmeans, open('model6.pkl','wb'))